.card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  flex-shrink: 0;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    padding: 0;
    background-size: contain;
  }
}
