.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 413px;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}

.card__delete-button {
  background: rgba(255, 255, 255, 0.1) url("../images/delete_icon.svg") center
    no-repeat;
  background-size: 12px 15px;
  height: 32px;
  width: 32px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  border: none;
  appearance: none;
}

.card__delete-button:hover {
  background-color: #ff6565;
  cursor: pointer;
}

.card__like-button {
  background: transparent url("../images/like-icon-dark.png") center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  flex-shrink: 0;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url("../images/liked_icon_dark.svg");
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url("../images/liked_icon_hover.svg");
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 627px) {
  .card {
    max-height: none;
    max-width: none;
    width: 100%;
  }

  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    padding: 0;
    background-size: contain;
  }
}
