.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  overflow: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  overflow: hidden;
}

.modal__container {
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
}

.modal__container_type_preview {
  padding: 16px;
}

.modal__image-container {
  position: relative;
  padding: 0;
  background-color: transparent;
}

.modal__image {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  max-width: 80vw;
  max-height: 80vh;
  padding: 0;
  margin: 0;
}

.modal__close-button {
  background: transparent url(../images/close_icon.svg) center no-repeat;
  display: flex;
  border: none;
  position: absolute;
  top: 25px;
  right: 50px;
  height: 40px;
  width: 40px;
  opacity: 0.4;
  padding: 0;
}

.modal__close-button_type_preview {
  background: transparent url(../images/close_icon_preview.svg) center no-repeat;
  top: 0;
  right: -52.5px;
}

.modal__close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__caption {
  padding: 4px 8px;
  margin: 8px 0 0 0;
  width: 135px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  border: none;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  padding: 18px 0;
  background-color: black;
  border: none;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  font-size: 16px;
  line-height: 1;
}

.modal__submit-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__image {
    max-height: none;
    max-width: none;
    width: 100%;
  }

  .modal__caption {
    width: 111px;
    height: 27px;
    font-size: 16px;
    line-height: 19px;
  }

  .modal__close-button {
    top: 10px;
    right: 16px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    padding: 18px 32px;
    width: 100%;
  }
}
